.logo-title {
  font-size: 60px !important;
}

.logo-Name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: x-large;
  padding: 10px;
  cursor: pointer;
}
.nav-list-icon{
  margin-right: 10px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  height: 90vh;
  width: 30vw;
  flex: 5;
}
.footer-logo{
  margin-right: 25px;
}

.footer{
  padding: 45px;
}


