.logo-title {
  font-size: 80px !important;
}

.logo-title-sub{
  margin-top: 35px;
}
.logo-Name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
  list-style: none;
  font-size: x-large;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.nav-list ul li:hover{
  transform: scale(1.1); 
  transform: translateX(-10%);
  color:darkgoldenrod ;
  
}
.nav-list-icon{
  margin-right: 10px;
}



.linkstyle{
  text-decoration: none;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  height: 90vh;
  width: 30vw;
  flex: 5;
}
.footer-logo{
  margin-right: 25px;
}

.footer{
  padding: 45px;
}


